/*Product Cards*/

.card {
    margin: 2em;
    background-color: #ffffff;

    /*nedded for absolute overlay positioning*/
    position: relative;
}

.card--product {
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        height: 100%;
    }

    /*required for overlay*/
    position: relative;

    .product__details {
        flex-grow: 1;
        z-index: 11;
        text-align: center;
    }

    .product__footer {
        color: #828282;
        align-items: center;
        align-self: flex-end;

        i.fal {
            margin: 10px;
        }
    }
}

/*temp styles for prototyping page*/
.card--product.fixed {
    width: 420px;
}

/*use this on cards with a lot of product details*/
.card--product.large--card {
    height: 520px;
    .card__image {
        height: 50%;
    }
}

.card--product.full__bleed {
    align-items: inherit;
    flex-direction: column;

    .product__details {
        flex-grow: 1;
        z-index: 11;
    }

    .product__footer {
        flex-grow: 0;
        align-self: inherit;
        color: #fff;
    }
}

/*mobile*/

.card--product-mobile {
    img {
        border-radius: 50%;
        height: 50px;
        margin-right: 10px;
    }
    div {
        align-self: center;
    }
}

.card__image {
    /*image and properties inline*/
    height: 100%;

    /*width: 363px; */
    display: flex;
    align-items: flex-end;

    @media (max-width: 768px) {
        height: 100%;
    }
}

.card__overlay:after {
    content: "";
    display: block;
    position: absolute; /* could also be absolute */
    left: 0;
    height: inherit;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.product__footer {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    z-index: 11;

    .product--right-arrow {
        color: #bebebe;
        justify-content: flex-end;
        z-index: 11;
        text-align: right;
    }
}

.white {
    color: #fff;
}

.left {
    text-align: left;
}

.product--label {
    font-size: 0.75em;
    color: #777;
    letter-spacing: 1px;
    line-height: 2em;

    .fa-circle {
        padding: 0 5px;
        font-size: 0.3em;
        vertical-align: middle;
        line-height: 0.125em;
    }
}

.product--title {
    -ms-opacity: 0.9;
    opacity: 0.9;
    font-family: Gibson-SemiBold;
    font-size: 1.25em;
    color: #212529;
}

.product--description {
    color: rgba(17, 17, 17, 0.4);
    padding-top: 10px;
    @media(max-width: 910px){
        padding-top: 0;
        font-size: 0.8em;
    }
}

.product--star-rating {
    margin: 0;
    padding-left: 0;
}

.product--star-rating ul {
    margin-bottom: 0.45em;
}

.product--star-rating .fa-star {
    color: #F5A623;
    margin-right: 0;
    font-size: 0.75em;
    margin-bottom: 1em;
}

.product--star-rating .fa-star.clip {
    position: absolute;
    clip: rect(0px, 6px, 12px, 0px);
    margin-top: 0.44em;
    margin-left: 0.2em;
}

.product--star-rating .product--label {
    color: #F5A623;
    margin-left: 5px;
    text-transform: none;
    font-size: 14px;
    font-style: normal;
}

.product--sales-prop {
    font-size: 1em;
    color: #6610F2;
    margin: 0.5em 0;
}

.product--cruise-details {
    flex-basis: 100%;
}

.product--cruise-itinerary {
    display: flex;
    justify-content: space-between;

    .cruise--box {
        height: 40px;
        width: 40px;
        border-radius: 3px;
        margin: 15px 15px 0 0;
        background-color: #181818;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .product--title {
            color: #fff;
            font-size: 0.87em;
        }
    }

    .cruise--detail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        .product--description {
            padding: 0;
        }

        .product--label {
            margin-top: 10px;
        }
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 0.35em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.card__content {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    text-align: left;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
}

.card__content.no-min-height {
    min-height: auto;
}

.card__content.full__bleed {
    background: none;
    height: 100%;
}

.card__content.clip-path {
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    margin-top: -20px;
    padding-bottom: 40px;
}

/*2 column / split column into 2 rows*/

.left--container {
    padding: 1em;

    .card--product {
        height: 100%;
    }

    .card__image {
        height: 100%;
    }
}

.right--container {
    height: 100%;
    flex-wrap: wrap;
}

.half--containers {
    padding: 1em;

    .card--product {
        height: 100%;
    }

    .card__image {
        height: 100%;
    }
}

/*badges*/

.promo--badge {
    font-size: 0.625em;
    letter-spacing: 2px;
    position: absolute;
    align-self: flex-start;
    margin: 10px;
    padding: 0.6em;
    border-radius: 5px;
    text-transform: uppercase;
}

.promo--badge.ending-soon {
    background-color: #5FDFC1;
    color: #121212;

    i.fal {
        margin: 0 4px;
        font-size: 1em;
    }

    i.fal.fa-clock {
        color: #121212;
    }
}

.promo--badge.distinction {
    background: linear-gradient(180deg, #272727 0%, #111111 100%);
    color: #fff;

    i.fal {
        margin: 0 4px;
        font-size: 1em;
    }

    i.fal.fa-question-circle {
        color: #909090;
    }
}

.promo--badge.featured {
    background-color: #711BE0;
}
