.container {
    margin: 5em auto;
}

/*Hero*/
.hero__image {
    /*image and properties inline*/
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .hero__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        z-index: 11;
    }

    .hero__content--child {
        display: flex;
        flex-direction: row;
        z-index: 11;
        text-align: left;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .product--label .fal {
            margin: 0 10px;
            font-size: 0.8em;
        }

        .header--ctas {
            flex-grow: 1;
            text-align: right;
            @media (max-width: 768px) {
                text-align: center;
                margin-top: 30px;
            }
        }
        .btn {
            padding: 0.8em;
            border-radius: 40px;
            .fal {
                margin-right:10px;
            }
            img {
                width: 23px;
                border-radius: 20px;
                margin-right: 10px;
            }
        }
    }

    .product--label {
        font-size: 0.625em;
        color: #fff;
        letter-spacing: 1px;
        line-height: 2em;
        text-transform: uppercase;

        .fa-circle {
            padding: 0 5px;
            font-size: 0.3em;
            vertical-align: middle;
            line-height: 0.125em;
        }

    }

    .product--title {
        -ms-opacity: 0.9;
        opacity: 0.9;
        font-family: Gibson-SemiBold;
        font-size: 2.5em;
        color: #fff;
    }

    .product--description {
        color: #fff;
        font-size: 1.25em;
        padding-top: 10px;
    }

    .fa-play-circle {
        margin: 30px 0;
        color: #5FDFC1;
    }

    .fa-arrow-right {
        padding-left: 15px;
    }
}

.hero__image.child--no-height {
    height: auto;
}

.hero__image .btn {
    padding: 1.5em;
    border-radius: 40px;
}

.hero__image:after {
    content: "";
    display: block;
    position: absolute; /* could also be absolute */
    left: 0;
    height: inherit;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}

/*CTA Card*/
.dest--intro-cta {
    background-color: white;
    border-radius: 1em;
    margin: 0 auto;
    padding: 3em;
    color: #111;
    text-align: center;
    height: fit-content;

    @media (max-width: 768px){
        display: none;
    }

    h5 {
        font-family: 'Gibson-SemiBold';
        color: #000;
    }

    ul li {
        text-align: left;
        margin-bottom: 1em;
    }

    li:before {
        font-family: 'Font Awesome 5 Pro';
        content: '\f00c';
        margin: 0 10px 0 -24px;
        color: green;
    }

    h4 {
        color: #000;
        font-family: "Gibson-Regular";
    }

    img {
        margin-top: -90px;
        width: 100%;
        max-width: 193px;
    }

    .btn {
        border-radius: 10px;
        padding: 15px;
    }
}

.dest--intro-content {
    @media (min-width: 768px) {
        flex-basis: 90%;
    }
    > p > a {
        color: #bf8eff;
    }

    p {
        line-height: 24px;
    }
    .fal {
        margin-bottom: 10px;
    }
}

.container--heading {
    font-family: 'Gibson-SemiBold';
    
    > div:nth-child(2) {
        text-align: right;
        align-self: flex-end;
    }

    h3 {
        font-family: 'Gibson-SemiBold';
    }

    .fa-arrow-right {
        margin-left: 10px;
        color: #5FDFC1;
    }
}

.panel-heading {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #999;
}

.panel-body {
    padding: 1em;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Gibson-SemiBold';
}

.panel-heading a:before {
    font-family: 'Font Awesome 5 Pro';
    content: "\f078";
    float: right;
    transition: all 0.5s;
    padding: 0 0.3em;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dest--overview-accordian .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
