/*Holiday Types*/

.dest--intro-holiday-types {
    div {flex-grow: 1; margin: 20px 0;};
    .btn {
        padding: 1.5em;
    }
        @media (min-width: 768px) {
           div:nth-child(1) {
            flex-basis: 60%;
            padding-right: 4em;
           }
           div {
               flex-grow: 1;
           }       
        }

}