/*Hero*/
.hero__image {
    /*image and properties inline*/
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid red;

    .hero__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border: 1px solid green;
        z-index: 11;
    }

    .product--label {
        font-size: 0.625em;
        color: #fff;
        letter-spacing: 1px;
        line-height: 2em;
        text-transform: uppercase;

        .fa-circle {
            padding: 0 5px;
            font-size: 0.3em;
            vertical-align: middle;
            line-height: 0.125em;
        }
    }

    .product--title {
        -ms-opacity: 0.9;
        opacity: 0.9;
        font-family: Gibson-SemiBold;
        font-size: 2.5em;
        color: #fff;
    }

    .product--description {
        color: #fff;
        font-size: 1.25em;
        padding-top: 10px;
    }

    .fa-play-circle {
        margin: 30px 0;
        color: #5FDFC1;
    }

    .fa-arrow-right {
        padding-left: 15px;
    }
}

.hero__image:after {
    content: "";
    display: block;
    position: absolute; /* could also be absolute */
    left: 0;
    height: inherit;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}

/*CTA Card*/
.dest--intro-cta {
    background-color: white;
    border-radius: 1em;
    margin: 0 auto;
    padding: 3em;
    color: #111;
    text-align: center;
    height: fit-content;

    h5 {
        font-family: 'Gibson-SemiBold';
        color: #000;
    }

    ul li {
        text-align: left;
        margin-bottom: 1em;
    }

    li:before {
        font-family: 'Font Awesome 5 Pro';
        content: '\f00c';
        margin: 0 10px 0 -24px;
        color: green;
    }

    h4 {
        color: #000;
        font-family: "Gibson-Regular";
    }

    img {
        margin-top: -90px;
        width: 100%;
        max-width: 193px;
    }

    .btn {
        border-radius: 20px;
        padding: 10px;
    }
}

.dest--intro-content {
    padding: 0 4em;

    > p > a {
        color: #bf8eff;
    }

    p {
        line-height: 24px;
    }
}

.dest--overview-accordian {
    padding-bottom: 4em;

    .panel-heading {
        padding: 0.5em 0;
        margin-bottom: 30px;
        border-bottom: 1px solid #909090;
        cursor: pointer;

        a {
            color: #fff;
        }

        a:before {
            font-family: 'Font Awesome 5 Pro';
            content: "\f078";
            float: right;
            transition: all 0.5s;
        }

        .active a:before {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        h5 {
            font-family: 'Gibson-SemiBold';
            color: #fff;
        }
    }
}

.dest--overview-accordian .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*temp - removed fixed proportions*/
.container.carousel .card--product {
    width: 100%;
    height: 420px;
}
.container.area--overview .card--product {
    width: 100%;
    height: auto;
}
