/*assets/Destinology_Web.js*/

.Gibson-Regular { 
	font-family: Gibson-Regular;
	font-weight: normal;
	font-style: normal;
}
.Gibson-SemiBold { 
	font-family: Gibson-SemiBold;
	font-weight: normal;
	font-style: normal;
}
.Gibson-Light { 
	font-family: Gibson-Light;
	font-weight: normal;
	font-style: normal;
}