<div class="row mt-4">
    <div class="col-lg-3 col-md-6 pb-4">

        <div class="card--product card__overlay">
            <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                <div class="card__content full__bleed">
                    <div class="product__details d-flex mx-auto">
                        <h2>Dubai</h2>
                        <p>An isloated out of this world corner</p>
                    </div>
                    <div class="product__footer white">
                        <div>
                            <i class="fal fa-hotel fa-2x"></i>
                            <div>41 hotels</div>
                        </div>
                        <div>
                            <i class="fal fa-ship fa-2x">
                            </i>
                            <div>160 cruises</div>
                        </div>
                        <div>
                            <i class="fal fa-book-open fa-2x">
                            </i>
                            <div>2 tours</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 pb-4">
        <div class="card--product card__overlay">
            <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                <div class="card__content full__bleed">
                    <div class="product__details d-flex mx-auto">
                        <h2>Dubai</h2>
                        <p>An isloated out of this world corner</p>
                    </div>
                    <div class="product__footer white">
                        <div>
                            <i class="fal fa-hotel fa-2x"></i>
                            <div>41 hotels</div>
                        </div>
                        <div>
                            <i class="fal fa-ship fa-2x">
                            </i>
                            <div>160 cruises</div>
                        </div>
                        <div>
                            <i class="fal fa-book-open fa-2x">
                            </i>
                            <div>2 tours</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 pb-4">
        <div class="card--product card__overlay">
            <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                <div class="card__content full__bleed">
                    <div class="product__details d-flex mx-auto">
                        <h2>Dubai</h2>
                        <p>An isloated out of this world corner</p>
                    </div>
                    <div class="product__footer white">
                        <div>
                            <i class="fal fa-hotel fa-2x"></i>
                            <div>41 hotels</div>
                        </div>
                        <div>
                            <i class="fal fa-ship fa-2x">
                            </i>
                            <div>160 cruises</div>
                        </div>
                        <div>
                            <i class="fal fa-book-open fa-2x">
                            </i>
                            <div>2 tours</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 pb-4">
        <div class="card--product card__overlay">
            <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                <div class="card__content full__bleed">
                    <div class="product__details d-flex mx-auto">
                        <h2>Dubai</h2>
                        <p>An isloated out of this world corner</p>
                    </div>
                    <div class="product__footer white">
                        <div>
                            <i class="fal fa-hotel fa-2x"></i>
                            <div>41 hotels</div>
                        </div>
                        <div>
                            <i class="fal fa-ship fa-2x">
                            </i>
                            <div>160 cruises</div>
                        </div>
                        <div>
                            <i class="fal fa-book-open fa-2x">
                            </i>
                            <div>2 tours</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Mobile-->
<div class="card--product-mobile">
        <div class="row no-gutters my-2">
                <img src="https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200">
                <div>
                    <div class="product--title text-white">Dubai</div>
                    <div class="product--label">41 hotels 160 cruises 2 tours</div>
                </div>
        </div>
        <div class="row no-gutters my-2">
                <img src="https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200">
                <div>
                    <div class="product--title text-white">Abu Dhabi</div>
                    <div class="product--label">41 hotels 160 cruises 2 tours</div>
                </div>
        </div>
        <div class="row no-gutters my-2">
                <img src="https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200">
                <div>
                    <div class="product--title text-white">Oman</div>
                    <div class="product--label">41 hotels 160 cruises 2 tours</div>
                </div>
        </div>
    </div>

</div>