        <!--intro CTA-->
        <div class="dest--intro-cta">
                <img src="img/peeps.png">
                <h5>Discover Middle East with those who live luxury.</h5>
    
                <ul>
                    <li>All details taken care of by your personal holiday specialist</li>
                    <li>Award-winning customer service</li>
                    <li>Only hotels we've approved and think you'll love</li>
                </ul>

                <div class="mt-4">
                    <a href="tel:01204 802 520">
                        <button type="button" class="btn btn-block btn-gradient-primary">
                            <strong>Get your free</strong><br>tailored holiday quote
                        </button>
                        <button type="button" class="btn btn-block btn-secondary mt-2">
                            <strong>Call the experts</strong><br>01204 123 456
                        </button>
                    </a>
                </div>

                <!-- <div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service"></div> -->
            </div>