        <!--intro CTA-->
        <div class="dest--intro-cta col-lg-4">
                <img src="img/peeps.png">
                <h5>Discover Middle East with those who live luxury.</h5>
    
                <ul>
                    <li>All details taken care of by your personal holiday specialist</li>
                    <li>Award-winning customer service</li>
                    <li>Only hotels we've approved and think you'll love</li>
                </ul>
                <h4>Call <span class="purple">01204 123 456</span></h4>
                <p>or</p>
                <button type="button" class="btn btn-block btn-gradient-primary mr-2 mt-2">
                    Enquire today
                </button>
                <!-- <div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service"></div> -->
            </div>