<!--Header-->

    <div class="gradient-topper"></div>
    <div id="header" class="container-fluid px-0">
      <div class="header-top">
        <div class="logo">
          <img src="img/logo-horiz.svg">
        </div>
        <div class="logo logo-small">
          <img src="img/Logomark-wht.svg">
        </div>
        <div class="header-top-call">
          <p class="no-margin">Call us on 01204 123 456
            <br>
          </p>
          <div class="call-us">
            <div class="type-small"><i class="fas fa-circle"></i>We are here till 10pm</div>
          </div>
        </div>
        <div class="header-top-navblock">
          <a href="#" class="navblock-item callus w-inline-block">
            <i class="far fa-phone"></i>
            <div class="text-block">9am - 10pm</div>
          </a>
          <a href="#" class="navblock-item search w-inline-block" id="navbarDropdownSearch">
            <i class="far fa-search"></i>
            <div class="text-block">Search</div>
          </a>
          <a href="#" class="navblock-item login w-inline-block">
            <i class="far fa-user-alt"></i>
            <div class="text-block">Log in</div>
          </a>
          <a href="#" id="trigger" class="navblock-item menu-trigger w-inline-block">
            <i class="fal fa-bars"></i>
            <div class="text-block">Menu</div>
          </a>
        </div>
      </div>
      <!--Nav Search Desktop-->
      <div class="desktop-nav-search">
        <div class="row mx-md-4 my-3">
          <div class="col-7">
            <i class="fal fa-search fa-2x"></i>
            <input type="text" name="search-holidays" placeholder="Where can we take you?">
          </div>
          <div class="col-5">
            <button type="button" class="btn btn-sm btn-gradient-primary">Search</button>
            <button type="button" class="btn btn-sm btn-outline-dark" id="navbarDropdownSearch">Close</button>
          </div>
        </div>
      </div>
      <!--Bootstrap Material Design Mega Menu-->
      <div id="header" class="header-bottom">
        <!--Navbar-->
        <nav class="main-nav navbar navbar-expand-lg navbar-dark special-color-dark">
          <!-- Links -->
          <ul class="navbar-nav mr-auto main-nav">
    
            <li class="nav-item main-nav-link mega-dropdown active">
              <a class="nav-link dropdown-toggle text-uppercase no-caret" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Destinations</a>
              <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                <div class="row mx-md-4 mt-4">
                  <div class="col-md-3 col-xl-3 pr-0">
                    <h6 class="sub-title">Popular Destinations</h6>
                  </div>
                  <div class="col-md-3 col-xl-3 pl-0">
                    <h6 class="sub-title view-all pl-0">View All Destinations</h6>
                  </div>
                  <div class="col-md-3 col-xl-3 pr-0">
                    <h6 class="sub-title">Where can we take you?</h6>
                  </div>
                  <div class="col-md-3 col-xl-3 pl-0">
                    <h6 class="sub-title view-all">View All Destinations</h6>
                  </div>
                </div>
                <div class="row mx-md-4 mx-1 pb-4">
                  <div class="col-2 sub-menu ">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item mb-0" href="">Dubai</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Mauritius</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Greece</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Maldives</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Spain</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item" href="">Africa</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Australasia</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Canada</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Caribbean</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Europe</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item" href="">Africa</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Australasia</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Canada</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Caribbean</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Europe</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu ">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item mb-0" href="">Dubai</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Mauritius</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Greece</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Maldives</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Spain</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item" href="">Africa</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Australasia</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Canada</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Caribbean</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Europe</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item" href="">Africa</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Australasia</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Canada</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Caribbean</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Europe</a>
                      </li>
                    </ul>
                  </div>
                </div>
    
              </div>
            </li>
            <li class="nav-item main-nav-link mega-dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">Holiday Types</a>
              <div class="dropdown-menu mega-menu v-2 row z-depth-1" aria-labelledby="navbarDropdownMenuLink1">
                <div class="row mx-md-4 mt-4">
                  <div class="col-md-12 col-xl-12 pr-0">
                    <h6 class="sub-title">Holiday Types</h6>
                  </div>
                </div>
                <div class="row mx-md-4 mx-1 pb-4">
                  <div class="col-2 sub-menu ">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item mb-0" href="">Multicenter holidays</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Cruise holidays</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item" href="">All inclusive holidays</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Honeymoons</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item" href="">Family holidays</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Weddings abroad</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu ">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item mb-0" href="">Villa holidays</a>
                      </li>
                      <li>
                        <a class="menu-item" href="">Last minute holidays</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item" href="">Tailor-made touring</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-2 sub-menu">
                    <ul class="pl-0">
                      <li>
                        <a class="menu-item" href="">City breaks</a>
                      </li>
                    </ul>
                  </div>
                </div>
    
              </div>
            </li>
            <li class="nav-item main-nav-link dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">Offers</a>
              <div class="dropdown-menu dropdown-primary special-color-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item main-nav-link dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">Cruise</a>
              <div class="dropdown-menu dropdown-primary special-color-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item main-nav-link dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">Tailor-made Tours</a>
              <div class="dropdown-menu dropdown-primary special-color-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item main-nav-link dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">Inspirations</a>
              <div class="dropdown-menu dropdown-primary special-color-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item main-nav-link dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">About Us</a>
              <div class="dropdown-menu dropdown-primary special-color-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
              </div>
            </li>
    
          </ul>
          <!-- Links -->
        </nav>
        <!--Holiday Search-->
        <!--Nav Search Mobile-->
        <a href="#" class="nav-holiday-search w-inline-block">
          <div>Holiday Search</div>
          <i class="fal fa-arrow-right"></i>
        </a>
        <!--/.Navbar-->
      </div>
    
    </div>
    <!-- MultiLevel (mobile)-menu -->
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
      <!-- mp-menu -->
      <nav id="mp-menu" class="mp-menu">
        <div class="mp-level">
          <div class="mp-search">
            <input type="text" name="search-holidays" placeholder="Search">
          </div>
          <ul>
            <li>
              <a class="mp-level-link" href="#">Destinations</a>
              <div class="mp-level">
                <a class="mp-back" href="#">Back</a>
                <ul>
                  <li>
                    <a class="mp-level-link" href="#">Middle East</a>
                    <div class="mp-level">
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Super Smart Phone</a>
                        </li>
                        <li>
                          <a href="#">Thin Magic Mobile</a>
                        </li>
                        <li>
                          <a href="#">Performance Crusher</a>
                        </li>
                        <li>
                          <a href="#">Futuristic Experience</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">Indian Ocean</a>
                    <div class="mp-level">
                      <h2>Televisions</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Flat Superscreen</a>
                        </li>
                        <li>
                          <a href="#">Gigantic LED</a>
                        </li>
                        <li>
                          <a href="#">Power Eater</a>
                        </li>
                        <li>
                          <a href="#">3D Experience</a>
                        </li>
                        <li>
                          <a href="#">Classic Comfort</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">Europe</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">Caribbean</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">Far East</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">Mexico</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">North America</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">Australasia</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">Africa</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">South Pacific</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="mp-level-link" href="#">Indian and Sub Continent</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="mp-level-link" href="#">Holiday Types</a>
              <div class="mp-level">
                <h2 class="mp-level-logo">Holiday Types</h2>
                <a class="mp-back" href="#">Back</a>
                <ul>
                  <li>
                    <a href="#">National Geographic</a>
                  </li>
                  <li>
                    <a href="#">Scientific American</a>
                  </li>
                  <li>
                    <a href="#">The Spectator</a>
                  </li>
                  <li>
                    <a href="#">The Rambler</a>
                  </li>
                  <li>
                    <a href="#">Physics World</a>
                  </li>
                  <li>
                    <a href="#">The New Scientist</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="mp-level-link" href="#">Offers</a>
              <div class="mp-level">
                <h2 class="mp-level-logo">Offers</h2>
                <a class="mp-back" href="#">Back</a>
                <ul>
                  <li>
                    <a class="icon icon-t-shirt" href="#">Clothes</a>
                    <div class="mp-level">
                      <h2 class="icon icon-t-shirt">Clothes</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a class="icon icon-female" href="#">Women's Clothing</a>
                          <div class="mp-level">
                            <h2 class="icon icon-female">Women's Clothing</h2>
                            <a class="mp-back" href="#">Back</a>
                            <ul>
                              <li>
                                <a href="#">Tops</a>
                              </li>
                              <li>
                                <a href="#">Dresses</a>
                              </li>
                              <li>
                                <a href="#">Trousers</a>
                              </li>
                              <li>
                                <a href="#">Shoes</a>
                              </li>
                              <li>
                                <a href="#">Sale</a>
                              </li>
                            </ul>
                          </div>
                        </li>
                        <li>
                          <a class="icon icon-male" href="#">Men's Clothing</a>
                          <div class="mp-level">
                            <h2 class="icon icon-male">Men's Clothing</h2>
                            <a class="mp-back" href="#">Back</a>
                            <ul>
                              <li>
                                <a href="#">Shirts</a>
                              </li>
                              <li>
                                <a href="#">Trousers</a>
                              </li>
                              <li>
                                <a href="#">Shoes</a>
                              </li>
                              <li>
                                <a href="#">Sale</a>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="icon icon-diamond" href="#">Jewelry</a>
                  </li>
                  <li>
                    <a class="icon icon-music" href="#">Music</a>
                  </li>
                  <li>
                    <a class="icon icon-food" href="#">Grocery</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">Cruise</a>
            </li>
            <li>
              <a class="icon icon-wallet" href="#">Tailor Made Tours</a>
            </li>
            <li>
              <a class="mp-level-link" href="#">About Us</a>
              <div class="mp-level">
                <h2 class="mp-level-logo">About Us</h2>
                <a class="mp-back" href="#">Back</a>
                <ul>
                  <li>
                    <a class="mp-level-link" href="#">Mobile Phones</a>
                    <div class="mp-level">
                      <h2>Mobile Phones</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Super Smart Phone</a>
                        </li>
                        <li>
                          <a href="#">Thin Magic Mobile</a>
                        </li>
                        <li>
                          <a href="#">Performance Crusher</a>
                        </li>
                        <li>
                          <a href="#">Futuristic Experience</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="icon icon-tv" href="#">Televisions</a>
                    <div class="mp-level">
                      <h2>Televisions</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Flat Superscreen</a>
                        </li>
                        <li>
                          <a href="#">Gigantic LED</a>
                        </li>
                        <li>
                          <a href="#">Power Eater</a>
                        </li>
                        <li>
                          <a href="#">3D Experience</a>
                        </li>
                        <li>
                          <a href="#">Classic Comfort</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="icon icon-camera" href="#">Cameras</a>
                    <div class="mp-level">
                      <h2>Cameras</h2>
                      <a class="mp-back" href="#">Back</a>
                      <ul>
                        <li>
                          <a href="#">Smart Shot</a>
                        </li>
                        <li>
                          <a href="#">Power Shooter</a>
                        </li>
                        <li>
                          <a href="#">Easy Photo Maker</a>
                        </li>
                        <li>
                          <a href="#">Super Pixel</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">Inspirations</a>
            </li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Login</a>
            </li>
            <li class="nav-modal__callus">
              <img src="https://d2no6onenl3oko.cloudfront.net/staffprofiles/3130.jpg">
              <div>
                <h6>Need help?</h6>
                <p class="no-margin">Call us on 01204 123 456
                  <br>
                </p>
                <div class="call-us">
                  <div class="call-active"></div>
                  <div class="type-small">We are here till 10pm</div>
                </div>
              </div>
            </li>
          </ul>
    
        </div>
      </nav>
      <!-- /mp-menu -->
      <div class="scroller">
        <!-- this is for emulating position fixed of the nav -->
        <div class="scroller-inner">
        </div>
        <!-- /scroller-inner -->
      </div>
      <!-- /scroller -->
    </div>
    <!-- /pusher -->

<script>
  new mlPushMenu(document.getElementById('mp-menu'), document.getElementById('trigger'), {
    type: 'cover'
  });
</script>