<div class="container-fluid">
    <div class="row">
        <div class="hero__image" style="background: url('https://www.mei.edu/sites/default/files/publications/Dubai_0.jpg') no-repeat center center; background-size: cover;">
            <div class="hero__content px-4">
                <div class="product--label">Home<i class="fa fa-circle"></i>Middle East</div>
                <div class="product--title">Luxury Middle East Holidays</div>
                <div class="product--description">
                    Travel to a land of mystique, sandy plains and Arabian-infused grandeur…
                </div>
                <i class="fas fa-3x fa-play-circle"></i>
                <div>
                    <button type="button" class="btn btn-gradient-primary mx-2 my-2">Search Middle East Holidays<i
                            class="fal fa-arrow-right"></i>
                    </button>
                    <button type="button" class="btn btn-gradient-primary mx-2 my-2">Middle East Holiday Offers<i class="fal fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>