<div class="container-fluid">
    <div class="row">
        <div class="hero__image child--no-height" style="background: url('https://middleeast.cummins.com/sites/cme/files/cummins-locations-cme-1640x448.jpg') no-repeat center center; background-size: cover;">
            <div class="container hero__content--child px-4">
                <div>
                        <div class="product--label">home<i class="fal fa-chevron-right"></i>****<i class="fal fa-chevron-right"></i>****</div>
                        <div class="product--title">********</div>
                </div>
                <div class="header--ctas">
                    <button type="button" class="btn mx-2 my-2"><i class="fal fa-calendar-alt"></i>Check Live Price & Availability</button>
                    <button type="button" class="btn mx-2 my-2"><img src="https://d2no6onenl3oko.cloudfront.net/staffprofiles/3130.jpg"/>Need help? - Ask an expert</button>
                </div>
            </div>
        </div>
    </div>