<div class="row mt-4">
    <div class="col-md-3">
        <div class="card--product card__overlay">
            <div class="card__image" style="background: url('https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/travel/travel-advice/whats-not-included-all-inclusive.jpg') no-repeat center center; background-size: cover;">
                <div class="card__content full__bleed">
                    <div class="product__details pt-4">
                        <h2>All Inclusive</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card--product card__overlay">
            <div class="card__image" style="background: url('https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/travel/travel-advice/whats-not-included-all-inclusive.jpg') no-repeat center center; background-size: cover;">
                <div class="card__content full__bleed">
                    <div class="product__details pt-4">
                        <h2>All Inclusive</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card--product card__overlay">
            <div class="card__image" style="background: url('https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/travel/travel-advice/whats-not-included-all-inclusive.jpg') no-repeat center center; background-size: cover;">
                <div class="card__content full__bleed">
                    <div class="product__details pt-4">
                        <h2>All Inclusive</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card--product card__overlay">
            <div class="card__image" style="background: url('https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/travel/travel-advice/whats-not-included-all-inclusive.jpg') no-repeat center center; background-size: cover;">
                <div class="card__content full__bleed">
                    <div class="product__details pt-4">
                        <h2>All Inclusive</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>