<div class="container">
    <div class="row dest--hotels">

        <div class="card--product horizontal--card">
            <div class="card__content">
                <div>
                    <div class="product--label">Middle East<i class="fa fa-circle"></i>Dubai</div>
                    <div class="product--title">Shangri-La’s Barr Al Jissah Resort & Spa - Al Bandar</div>
                    <ul class="product--star-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </ul>
                    <div class="product--offer-price py-3">
                        5 nights from <span class="large">£755</span> pp
                    </div>
                    <div>
                        <button type="button" class="btn btn-block btn-primary mt-2">
                            Explore this hotel
                        </button>
                    </div>
                    <div class="product--offers-available py-3">
                            <i class="fal fa-bell"></i> Offers available
                        </div>
                </div>
            </div>
            <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center;">
            </div>
        </div>

    </div>
</div>