<div class="card--product-desktop">
    <div class="row no-gutters container--heading center">
        <div class="col-sm-8">
            <h3>Middle East Inspiration</h3>
        </div>
        <div class="col-sm-4">
            <p>View all inspirations<i class="fal fa-arrow-right"></i></p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card--product">
                <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                    <div class="promo--badge featured">featured</div>
                </div>
                <div class="card__content no-min-height clip-path">
                    <div>
                        <div class="product--title">Luxury and Indulgence in Dubai</div>
                        <div class="product--description">From gold covered cars to luxurious cocktails</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card--product">
                <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                    <div class="promo--badge featured">featured</div>
                </div>
                <div class="card__content no-min-height clip-path">
                    <div>
                        <div class="product--title">Luxury and Indulgence in Dubai</div>
                        <div class="product--description">From gold covered cars to luxurious cocktails</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card--product">
                <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                    <div class="promo--badge featured">featured</div>
                </div>
                <div class="card__content no-min-height clip-path">
                    <div>
                        <div class="product--title">Luxury and Indulgence in Dubai</div>
                        <div class="product--description">From gold covered cars to luxurious cocktails</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card--product-mobile">
    <div class="row no-gutters container--heading center">
        <div class="col-sm-8">
            <h3>Middle East Inspiration</h3>
        </div>
    </div>
    <div class="card--product-inspiration">


        <div class="row mt-4">
            <div class="col-md-4 pb-3">
                <div class="card--product card__overlay">
                    <div class="card__image" style="background: url('https://happinesssummit.world/wp-content/uploads/2017/09/o-HAPPY-MOUNTAIN-facebook.jpg') no-repeat center center; background-size: cover;">
                        <div class="card__content full__bleed">
                            <div class="product__details">
                                <div>
                                    <div class="product--title white">Luxury and Indulgence in Dubai</div>
                                    <div class="product--description white">From gold covered cars to luxurious
                                        cocktails</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3">
                <div class="card--product card__overlay">
                    <div class="card__image" style="background: url('https://happinesssummit.world/wp-content/uploads/2017/09/o-HAPPY-MOUNTAIN-facebook.jpg') no-repeat center center; background-size: cover;">
                        <div class="card__content full__bleed">
                            <div class="product__details">
                                <div>
                                    <div class="product--title white">One & Only Palm Dubai</div>
                                    <div class="product--description white">From gold covered cars to luxurious
                                        cocktails</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3">
                    <div class="card--product card__overlay">
                        <div class="card__image" style="background: url('https://happinesssummit.world/wp-content/uploads/2017/09/o-HAPPY-MOUNTAIN-facebook.jpg') no-repeat center center; background-size: cover;">
                            <div class="card__content full__bleed">
                                <div class="product__details">
                                    <div>
                                        <div class="product--title white">Where to go for October Half Term</div>
                                        <div class="product--description white">From gold covered cars to luxurious
                                            cocktails</div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div>
            <p>View more Inspiration<i class="fal fa-arrow-right"></i></p>
        </div>

    </div>
</div>