<div class="row mt-4">
    <div class="col-md-4">
        <div class="card--product inspiration">
            <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                <div class="promo--badge featured">featured</div>
            </div>
            <div class="card__content no-min-height clip-path">
                <div>
                    <div class="product--title">Luxury and Indulgence in Dubai</div>
                    <div class="product--description">From gold covered cars to luxurious cocktails</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card--product inspiration">
            <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                <div class="promo--badge featured">featured</div>
            </div>
            <div class="card__content no-min-height clip-path">
                <div>
                    <div class="product--title">Luxury and Indulgence in Dubai</div>
                    <div class="product--description">From gold covered cars to luxurious cocktails</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card--product inspiration">
            <div class="card__image" style="background: url('https://di5fgdew4nptq.cloudfront.net/api2/media/images/5251fe24-ab3f-e711-80d2-c81f66f7476f?width=1200') no-repeat center center; background-size: cover;">
                <div class="promo--badge featured">featured</div>
            </div>
            <div class="card__content no-min-height clip-path">
                <div>
                    <div class="product--title">Luxury and Indulgence in Dubai</div>
                    <div class="product--description">From gold covered cars to luxurious cocktails</div>
                </div>
            </div>
        </div>
    </div>
</div>