<div class="container">
    <!--removing bs columns and flex wrap allows child divs to fill space when others are removed-->
    <!--eg. removing the CTA will stretch the intro section to full width-->
    <div class="row dest--intro-holiday-types px-md-5 px-2">
        <div>
            <p>From mazy, exotic markets and trackless golden deserts to luxury spas, the Middle East’s charms know few
                boundaries.
                <a href="#">Dubai</a> and its iconic skyline is a far cry from the region’s more traditional
                heartlands, but anyone
                who has graced the City of Gold will tell you it appeals in equal measures. That’s the beauty of the
                Middle East
                – the variety.
                <span id="dots">...</span><span id="more">
                    <br><br> Zighy Bay encompasses everything you’d want from a beach retreat, laced with a fine dosing
                    of opulence
                    for good measure. Once you’re there, gaze out onto the Gulf of Oman as you unwind with palm trees
                    and white sands,
                    relishing a more soothing side to Middle East holidays.
                    <br><br> Abu Dhabi, the capital of the UAE, aligns cultural and historic artefacts as one.
                    Highlights here include
                    the pearlescent Sheikh Zayed Grand Mosque, made up of lavish turrets and floral carpets. Spiritual
                    sites like this
                    rub shoulders with plate glass towers, overlooking swanky yachts which breeze effortlessly in from
                    neighbouring
                    countries. Fellow emirates like Ajman house everything from 18th century fortresses to secluded
                    beaches, with the
                    occasional camel ride. To this day, it remains one of the world’s most fascinating and complex
                    destinations – and
                    you’ll love every second of uncovering it.</span>
            </p>
            <a onclick="myFunction()" id="myBtn">Read more</a>
        </div>
        <div>
            <button type="button" class="btn btn-block btn-gradient-primary">
                <strong>Get your free</strong><br>tailored holiday quote
            </button>
            <button type="button" class="btn btn-block btn-secondary mt-2">
                <strong>Call the experts</strong><br>01204 123 456
            </button>
        </div>
    </div>
</div>