    <!--Dest Overview-->
    <div id="dest-overview">
        <div class="container-fluid">
            <div class="container">
                <div class="row">

                    <div class="dest--hero-content col-lg-8">
                        <h2>Guide to Luxury Holidays in the Middle East</h2>
                        <p>From mazy, exotic markets and trackless golden deserts to luxury spas, the Middle East’s charms
                            know few boundaries. <a href="#">Dubai</a> and its iconic skyline is a far cry from the region’s
                            more traditional heartlands, but anyone who has graced the City of Gold will tell you it appeals
                            in equal measures. That’s the beauty of the Middle East – the variety.</p>
                        <p>Zighy Bay encompasses everything you’d want from a beach retreat, laced with a fine dosing of
                            opulence for good measure. Once you’re there, gaze out onto the Gulf of Oman as you unwind with
                            palm trees and white sands, relishing a more soothing side to Middle East holidays.</p>
                        <p>Abu Dhabi, the capital of the UAE, aligns cultural and historic artefacts as one. Highlights here
                            include the pearlescent Sheikh Zayed Grand Mosque, made up of lavish turrets and floral carpets.
                            Spiritual sites like this rub shoulders with plate glass towers, overlooking swanky yachts which
                            breeze effortlessly in from neighbouring countries. Fellow emirates like Ajman house everything
                            from 18th century fortresses to secluded beaches, with the occasional camel ride. To this day,
                            it remains one of the world’s most fascinating and complex destinations – and you’ll love every
                            second of uncovering it.
                        </p>

                        <div class="row text-center my-5">
                            <div class="col-sm-3 col-6 mb-3">
                                <i class="fal fa-sun fa-3x"></i>
                                <div class="type-small my-1">Todays high</div>
                                <div>32°C</div>
                            </div>
                            <div class="col-sm-3 col-6 mb-3">
                                <i class="fal fa-clock fa-3x"></i>
                                <div class="type-small my-1">+4h GMT</div>
                                <div>4:20pm</div>
                            </div>
                            <div class="col-sm-3 col-6 mb-3">
                                <i class="fal fa-pound-sign fa-3x"></i>
                                <div class="type-small my-1">UAE Dirham</div>
                                <div>£1 = 4.47dh</div>
                            </div>
                            <div class="col-sm-3 col-6 mb-3">
                                <i class="fal fa-plane fa-3x"></i>
                                <div class="type-small my-1">LDN - DXB</div>
                                <div>~6.5h</div>
                            </div>
                        </div>

                        <!--Accordian-->
                        <div class="row dest--overview-accordian">
                            <!--When to visit-->
                            <div class="col-12" id="over-accordian">
                                <div class="panel-heading" id="whentovisit">
                                    <h5>
                                        <a href="#destOverview-whentovisit" data-toggle="collapse" data-target="#destOverview-whentovisit" aria-expanded="true" aria-controls="destOverview-whentovisit"
                                            data-parent="#over-accordian">
                                            When to Visit
                                        </a>
                                    </h5>
                                </div>
                                <div id="destOverview-whentovisit" class="panel-collapse collapse in" aria-labelledby="whentovisit" data-parent="#destOverview-whentovisit">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Passport & Visa-->
                                <div class="panel-heading" id="passandvisa">
                                    <h5>
                                        <a href="#destOverview-passandvisa" data-toggle="collapse" data-target="#destOverview-passandvisa" aria-expanded="true" aria-controls="destOverview-passandvisa"
                                            data-parent="#over-accordian">
                                            Passport & Visa
                                        </a>
                                    </h5>
                                </div>
                                <div id="destOverview-passandvisa" class="panel-collapse collapse in" aria-labelledby="passandvisa" data-parent="#destOverview-passandvisa">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Food & Drink-->
                                <div class="panel-heading" id="fooddrink">
                                    <h5>
                                        <a href="#destOverview-fooddrink" data-toggle="collapse" data-target="#destOverview-fooddrink" aria-expanded="true" aria-controls="destOverview-fooddrink"
                                            data-parent="#over-accordian">
                                            Food & Drink
                                        </a>
                                    </h5>
                                </div>
                                <div id="destOverview-fooddrink" class="panel-collapse collapse in" aria-labelledby="fooddrink" data-parent="#destOverview-fooddrink">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Culture-->
                                <div class="panel-heading" id="culture">
                                    <h5>
                                        <a href="#destOverview-culture" data-toggle="collapse" data-target="#destOverview-culture" aria-expanded="true" aria-controls="destOverview-culture"
                                            data-parent="#over-accordian">
                                            Culture
                                        </a>
                                    </h5>
                                </div>
                                <div id="destOverview-culture" class="panel-collapse collapse in" aria-labelledby="culture" data-parent="#destOverview-culture">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                    <li><a href="#">****</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--Hero CTA-->
                    <div class="dest--hero-cta col-lg-4">
                        <img src="img/peeps.png">
                        <h5>Discover Middle East with those who live luxury.</h5>

                        <ul>
                            <li>All details taken care of by your personal holiday specialist</li>
                            <li>Award-winning customer service</li>
                            <li>Only hotels we've approved and think you'll love</li>
                        </ul>
                        <h4>Call <span class="purple">01204 123 456</span></h4>
                        <p>or</p>
                        <button type="button" class="btn btn-block btn-gradient-primary mr-2 mt-2">
                            Enquire today
                        </button>
                        <!-- <div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service"></div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>