<!--Product Cards-->

<div class="container-fluid">
    <div class="row">

        <!--Popular Regions within an Area-->
        <div class="card">
            <div>
                <p>Popular Regions within an Area</p>
            </div>
            <div class="card--product">
                <div class="card__regions-overview card__overlay">
                    <div class="product__details">
                        <h2>Dubai</h2>
                        <p>An isloated out of this world corner</p>
                    </div>
                    <div class="product__footer">
                        <div>
                            <i class="fal fa-hotel fa-2x"></i>
                            <div>41 hotels</div>
                        </div>
                        <div>
                            <i class="fal fa-ship fa-2x">
                            </i>
                            <div>160 cruises</div>
                        </div>
                        <div>
                            <i class="fal fa-book-open fa-2x">
                            </i>
                            <div>2 tours</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Regions-->
        <div class="card">
            <div>
                <p>Regions</p>
            </div>
            <div class="card--product">
                <div class="card__regions">
                    <div class="promo--badge distinction"><i class="fal fa-gem"></i>distinction<i class="fal fa-question-circle"></i></div>
                    <div class="card__content clip-path">
                        <div>
                            <div class="product--label">Middle East</div>
                            <div class="product--title">Ajman</div>
                            <div class="product--description">The City Of Gold's towering skyline The City Of Gold's
                                towering skyline The City Of Gold's towering skyline The City Of Gold's towering
                                skyline The City Of Gold's towering skyline</div>
                        </div>
                        <div class="product__footer">
                            <div>
                                <i class="fal fa-hotel fa-2x"></i>
                                <div>41 hotels</div>
                            </div>
                            <div>
                                <i class="fal fa-ship fa-2x">
                                </i>
                                <div>160 cruises</div>
                            </div>
                            <div>
                                <i class="fal fa-book-open fa-2x">
                                </i>
                                <div>2 tours</div>
                            </div>
                            <div class="product--right-arrow">
                                <i class="fal fa-3x fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Inspiration-->
        <div class="card">
            <div>
                <p>Inspiration</p>
            </div>
            <div class="card--product">
                <div class="card__regions inspiration">
                    <div class="promo--badge featured">featured</div>
                    <div class="card__content clip-path">
                        <div>
                            <div class="product--title">Ajman</div>
                            <div class="product--description">The City Of Gold's towering skyline The City Of Gold's
                                towering skyline The City Of Gold's towering skyline The City Of Gold's towering
                                skyline The City Of Gold's towering skyline</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Holiday Type Overview within an Area-->
        <div class="card">
            <div>
                <p>Holiday Type Overview within an Area</p>
            </div>
            <div class="card--product">
                <div class="card__content--overview card__overlay">
                    <div class="product__details">
                        <h2>Hotels in Middle East</h2>
                    </div>
                    <div class="product--right-arrow">
                        <i class="fal fa-3x fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--Holiday Type Overview within an Area (small)-->
        <div class="card">
            <div>
                <p>Holiday Type Overview within an Area (small)</p>
            </div>
            <div class="card--product">
                <div class="card__content--overview small card__overlay">
                    <div class="product__details">
                        <h2>All Inclusive</h2>
                    </div>
                </div>
            </div>
        </div>

        <!--Holiday Type Specific Pages-->
        <div class="card">
            <div>
                <p>Holiday Type - Specific Page (Hotel)</p>
            </div>
            <div class="card--product">
                <div class="card__regions">
                    <div class="promo--badge distinction"><i class="fal fa-gem"></i>distinction<i class="fal fa-question-circle"></i></div>
                    <div class="card__content">
                        <div>
                            <div class="product--label">Middle East<i class="fa fa-circle"></i>Dubai</div>
                            <div class="product--title">Shangri-La's Barr Al Jissah Resort & Spa - Al Bandar</div>
                            <ul class="product--star-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </ul>
                        </div>
                        <div class="product__footer">
                            <div class="product--offer-price">
                                5 nights from <span class="large">£755</span> pp
                            </div>
                            <div class="product--right-arrow">
                                <i class="fal fa-3x fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div>
                <p>Holiday Type - Specific Page (Cruise)</p>
            </div>
            <div class="card--product">
                <div class="card__regions">
                    <div class="promo--badge distinction"><i class="fal fa-gem"></i>exclusive<i class="fal fa-question-circle"></i></div>
                    <div class="card__content">

                        <div class="product--cruise-details">
                            <div class="product--label">Cruise & Stay</div>
                            <div class="product--title">Arabian Delights</div>
                        </div>
                        <!--itinerary 1-->
                        <div class="product--cruise-itinerary">
                            <div class="cruise--box">
                                <div class="product--title">12</div>
                                <div>
                                    <p>nights</p>
                                </div>
                            </div>
                            <div class="cruise--detail">
                                <div class="product--label">Cruise<i class="fa fa-circle"></i>Celebrity Cruises</div>
                                <div class="product--description">Arabian Sea & India Cruise</div>
                            </div>
                        </div>
                        <!--itinerary 2-->
                        <div class="product--cruise-itinerary">
                            <div class="cruise--box">
                                <div class="product--title">7</div>
                                <div>
                                    <p>nights</p>
                                </div>
                            </div>
                            <div class="cruise--detail">
                                <div class="product--label">Cruise<i class="fa fa-circle"></i>Celebrity Cruises</div>
                                <div class="product--description">Arabian Sea & India Cruise</div>
                            </div>
                        </div>

                        <div class="product__footer">
                            <div class="product--offer-price">
                                5 nights from <span class="large">£755</span> pp
                            </div>
                            <div class="product--right-arrow">
                                <i class="fal fa-3x fa-arrow-circle-right"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div>
                <p>Holiday Type - Specific Page (Tour)</p>
            </div>
            <div class="card--product">
                <div class="card__regions">
                    <div class="promo--badge distinction">travel icons</div>
                    <div class="card__content">
                        <div>
                            <div class="product--label">Middle East</div>
                            <div class="product--title">Shangri-La's Barr Al Jissah Resort & Spa - Al Bandar</div>
                            <div class="product--sales-prop">Explore ancient sights and lost cities, overnight in a
                                Bedouin tent and dine amidst the dramatic desert scenery of Wadi Rum.</div>
                        </div>
                        <div class="product__footer">
                            <div class="product--offer-price">
                                5 nights from <span class="large">£755</span> pp
                            </div>
                            <div class="product--right-arrow">
                                <i class="fal fa-3x fa-arrow-circle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Area Specific Offers (Overview & Offers Page)-->
        <div class="card">
            <div>
                <p>Holiday Types Main Page (Filterable)</p>
            </div>
            <div class="card--product">
                <div class="card__regions">
                    <div class="promo--badge distinction"><i class="fal fa-gem"></i>distinction<i class="fal fa-question-circle"></i></div>
                    <div class="card__content">
                        <div>
                            <div class="product--label">Middle East<i class="fa fa-circle"></i>Dubai</div>
                            <div class="product--title">Kanuhura</div>
                            <ul class="product--star-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </ul>
                            <div class="product--sales-prop">
                                Save up to 60%
                            </div>
                            <div class="product--description">
                                Travel 8th Aug 2018 - 30th Sept 2018. All inclusive. Return flights included.
                            </div>
                            <div class="product__footer">
                                <div class="product--offer-price">
                                    5 nights from <span class="large">£755</span> pp
                                </div>
                                <div class="product--right-arrow">
                                    <i class="fal fa-3x fa-arrow-circle-right"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
                <div>
                    <p>Holiday Types Main Page (Filterable)</p>
                </div>
                <div class="card--product">
                    <div class="card__regions">
                        <div class="promo--badge ending-soon"><i class="fal fa-gem"></i>distinction<i class="fal fa-question-circle"></i></div>
                        <div class="card__content">
                            <div>
                                <div class="product--label">Middle East<i class="fa fa-circle"></i>Dubai</div>
                                <div class="product--title">Kanuhura</div>
                                <ul class="product--star-rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </ul>
                                <div class="product--sales-prop">
                                    Save up to 60%
                                </div>
                                <div class="product--description">
                                    Travel 8th Aug 2018 - 30th Sept 2018. All inclusive. Return flights included.
                                </div>
                                <div class="product__footer">
                                    <div class="product--offer-price">
                                        5 nights from <span class="large">£755</span> pp
                                    </div>
                                    <div class="product--right-arrow">
                                        <i class="fal fa-3x fa-arrow-circle-right"></i>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!--Holiday Type Overview within an Area-->
        <div class="card">
            <div>
                <p>Hot Right Now (Overview & Offers page)</p>
            </div>
            <div class="card--product">
                <div class="card__content--hot-offers card__overlay">
                    <div class="product__footer">
                        <div class="product--detail">
                            <h2>Upgrade Your Summer</h2>
                            <div class="product--description">Save up to 70% on family holidays to Dubai from £855</div>
                        </div>
                        <div class="product--right-arrow">
                            <i class="fal fa-3x fa-arrow-circle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>