<!--Header-->

<div id="header" class="container-fluid px-0">
  <div id="header" class="sub-header">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Regions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Holiday Types</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hotels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cruise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inspirations</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--/.Navbar-->
  </div>

</div>