<div class="row sub-nav">
  <nav class="main-nav navbar navbar-expand-lg navbar-dark mx-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mx-auto main-nav">
        <!--add active class on to li-->
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="/destinations-overview.html">Overview</a>
        </li>
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="/destinations-destinations.html">Destinations</a>
        </li>
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="/destinations-holiday-type.html">(Holiday Type)</a>
        </li>
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="/destinations-holiday-types.html">Holiday Types</a>
        </li>
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="/destinations-hotels.html">Hotels</a>
        </li>
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="#">Cruise</a>
        </li>
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="#">Tours</a>
        </li>
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="#">Activities</a>
        </li>
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="#">Offers</a>
        </li>
        <li class="nav-item main-nav-link">
          <a class="nav-link" href="#">Inspirations</a>
        </li>
      </ul>
    </div>
  </nav>
</div>